<div class="col-md-6 col-md-offset-3 hacker-new">
  <h1 class="head logo">GE @ MHACKS</h1>

  <%= form_for(@hacker) do |f| %>

    <% @hacker.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

    <div class="form-group row">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-fw fa-2x fa-user"></i>
        </span>
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'First Name', :required => true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-fw fa-2x fa-user"></i>
        </span>
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Last Name', :required => true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-fw fa-2x fa-envelope"></i>
        </span>
        <%= f.text_field :email, :class => 'form-control', :placeholder => 'Your email address', :required => true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-fw fa-2x fa-github"></i>
        </span>
        <%= f.text_field :github_id, :class => 'form-control', :placeholder => 'Your GitHub username', :required => true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-fw fa-2x fa-file-code-o"></i>
        </span>
        <%= f.select 'position', ['Full Time', 'Intern'], {include_blank: 'Select a Position'}, { :class => 'form-control', :required => true} %>
      </div>
    </div>

    <button type="submit" class="btn btn-lg btn-success">Submit Profile</button>

  <% end %>
</div>
